* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    top: 0;
    margin: 0;
    width: 100vw;
    height: 2cm;
    background-color: rgb(23, 78, 166);
    color: white;
    /* background-color: rgb(4, 20, 110); */
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    padding: 12px;
    overflow: hidden;
}

nav ul li {
    padding: 20px;
    color: white;
    font-size: large;
    margin-right: 0.5cm;
    overflow: hidden;
}

nav ul :hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: large;
}

nav div {
    display: flex;
    align-items: center;
    margin-left: 2vw;
}

main div{
    margin: 2vw;
}

main h2{
    text-decoration: underline;
    color: rgb(23, 78, 166);
}

main .img{
    display: flex;
    justify-content: center;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

main {
    background-image: url(bgimg.jpg);
    object-fit: cover;
}