* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    top: 0;
    margin: 0;
    width: 100vw;
    height: 2cm;
    background-color: rgb(23, 78, 166);
    color: white;
    /* background-color: rgb(4, 20, 110); */
    display: flex;
    justify-content: space-between;
    position: fixed;
}

nav ul {
    display: flex;
    padding: 12px;
    overflow: hidden;
}

nav ul li {
    padding: 20px;
    color: white;
    font-size: large;
    margin-right: 0.5cm;
    overflow: hidden;
}

nav ul :hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: large;
}

nav div {
    display: flex;
    align-items: center;
    margin-left: 2vw;
}

.intro {
    display: flex;

    justify-content: center;
}

.energy {
    width: 90vw;
    height: 60vh;
    background-color: aliceblue;
    display: flex;
    margin: 30px;
    padding: 25px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    font-size: large;
    line-height: 2rem;
    box-shadow: 5px 1px 20px 4px;
}

.enImg {
    width: 40vw;
    height: 60vh;
    display: flex;
    border-radius: 10px;
    background-image: url(enImg.webp);
    background-position: center;
}

.entext {
    width: 40vw;
}

.wave {
    width: 90vw;
    height: 60vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    margin: 30px;
    padding: 25px;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 10px;
    font-size: large;
    line-height: 2rem;
    
}

.wvimg {
    width: 40vw;
    height: 60vh;
    display: flex;
    border-radius: 10px;
    background-image: url(wvimg.jpg);
    background-position: center;
}

.wvtext {
    width: 40vw;
}

.spectrum {
    width: 90vw;
    height: 60vh;
    background-color: aliceblue;
    display: flex;
    margin: 30px;
    padding: 25px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    font-size: large;
    line-height: 2rem;
    box-shadow: 5px 1px 20px 4px;
}

.spImg {
    width: 40vw;
    height: 60vh;
    display: flex;
    border-radius: 10px;
    background-image: url(spimg.webp);
    background-position: center;
}

.sptext {
    width: 40vw;
}

.ebutt {
    margin-top: 0.5cm;
    background-color: rgb(23, 78, 166);
    color: white;
    border-radius: 7px;
    width: 4cm;
    height: 1cm;
    overflow-y: hidden;
    text-align: center;
    padding: 3px;
    font-size: large;
    font-weight: 400;
}

.ebutt:hover {
    background-color: blue;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

main {
    background-image: url(bgimg.jpg);
    object-fit: cover;
}